/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(8, 8, 8);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    display: flex;
    height: 100vh;
}

.homenavigation {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 2%;
    overflow: hidden;
}

.homenavigation button {
    width: calc(5.5vw);
    max-width: 10vw;
    height: calc(5vw);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    border: solid var(--activeColor) calc(0.2vw);
    color: var(--activeColor);
    background: none;
}

.homenavigation .material-icons {
    font-size: calc(3vw);
    color: var(--activeColor);
}

.homenavigation button:hover {
    background-color: var(--hoverColor);
}

.homenavigation button:active {
    background-color: var(--activeColor);
    border-width: 3px;
}

.Hintergrund {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 13vw;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.1;
    filter: blur(8px);
    z-index: 0;
    white-space: nowrap;
    color: var(--activeColor);
}

/* Custom Properties for Theming */
:root {
    --activeColor: rgba(172, 255, 47, 0.8);
    --hoverColor: rgba(172, 255, 47, 0.3);
    --activeAngle: 0deg;
}
